/* 1. Set flexbox and order */
#header {
  background-image: none;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  & #logo {
    order: -1;
    display: none;
  }
  & #searchform {
    order: 0;
  }
  & #savedViewHUDButton {
    order: 1;
    margin-right: auto;
	  padding: 0;
  }
  & .redo-button,
  & .undo-button {
    order: 2;
    margin: 0;

  }
  & .button,
  & #helpButton {
    order: 3;
    margin-left: 0.5rem;
    padding: 0.5rem;
  }
  & #buttonBar {
    order: 4;
    margin: 0;
  }
}

/* 2. Remove default borders and backgrounds from navigation items */

.button,
#helpButton,
#buttonBar {
  background: none;
  border: none;
}

/* Remove default margins and paddings from navigation items */

.redo-button,
.undo-button,
#helpButton,
.button,
#logo,
#searchForm {
  top: 0;
  bottom: 0;
}

/* Tags */
.contentTagText {
  text-decoration: none;
}
.contentMatch {
  background: none;
  text-shadow: -1px -1px 1px #FFF;
}

/* Change bottomlinks */
.bottomLink {
  font-style: normal;
}

/* Remove share buttons and Go Pro link */

.facebookLike, .twitter-follow-button, .proPitch, #proPitchBottomRight {
  display: none;
}
