:root {
  /* Theme Colors */
  --primary-color: rgba(255, 255, 255,1);
  --secondary-color: rgba(51, 7, 104, 1);
  /* Header and links */
  --header-padding: 1.5rem;
  --header-bg-color: var(--secondary-color);
  --header-bg-color-search: color-mod(var(--header-bg-color) lightness(75%) alpha(25%));
  --header-bg-box-shadow-color: color-mod(var(--secondary-color) alpha(33%));
  --header-bg-box-shadow-search: 0px 0px 25px 0px var(--header-bg-box-shadow-color);
  --header-link-hover: color-mod(var(--primary-color) alpha(50%));
  --header-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  /* Background and page */
  --bg-image: linear-gradient(to bottom, #dfe9f3 0%, white 100%);;
  --page-bg-color: #fff;
  --page-radius: 2px;
  --page-border: none;
  --page-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  /* Tags */
  --tag-color: #fff;
  --tag-padding: 0.025rem 0.250rem 0.075rem;
}
