/* List of colors */
$planning-color: var(--orange);
$today-color: var(--red);
$dump-color: var(--grape);
$habits-color: var(--lime);
$article-color: var(--yellow);
$send-color: var(--orange);
$note-color: var(--indigo);
$projects-color: var(--blue);
$log-color: var(--pink);
$pr-color: var(--teal);
$rt-color: var(--cyan);
$hb-color: var(--violet);

@mixin tag-style($bgcolor) {
  font-size: .875rem;
  background-color: $bgcolor;
  color: var(--tag-color);
  padding: var(--tag-padding);
  &:hover {
    background-color: color-mod($bgcolor a(75%));
  }
}

[title~="@planning"] {
  @include tag-style($planning-color);
}
[title~="@today"] {
  @include tag-style($today-color);
}
[title~="@dump"] {
  @include tag-style($dump-color);
}
[title~="@habits"] {
  @include tag-style($habits-color);
}
[title~="@article"] {
  @include tag-style($article-color);
}
[title~="@send"] {
  @include tag-style($send-color);
}
[title~="@note"] {
  @include tag-style($note-color);
}
[title~="@projects"] {
  @include tag-style($projects-color);
}
[title~="@log"] {
  @include tag-style($log-color);
}
[title*="@pr-"] {
  @include tag-style($pr-color);
}
[title*="@rt-"] {
  @include tag-style($rt-color);
}
[title*="@hb-"] {
  @include tag-style($hb-color);
}
