#header {
  box-shadow: var(--header-box-shadow);
  padding: var(--header-padding);
}
.menu-icon {
  width: 100%;
  height: 100%;
  background: none;
}
.menu-icon:after {
  content: "Menu";
}
.redo-button,
.undo-button,
#helpButton,
.button,
#logo,
#searchForm {
  color: color(var(--primary-color) blackness(50%));
  & :hover {
    color: var(--primary-color);
  }
}
