#documentView {
  background-image: var(--bg-image);
  /* font-family: var(--primary-font); */
}
#pageContainer {
  background: none;
  margin-top: calc(2 * var(--header-padding));
}
.page {
  border: var(--page-border);
  border-radius: var(--page-radius);
  box-shadow: var(--page-box-shadow);
}
