body::-webkit-scrollbar {
  width: 10px;
  height: 2px;
}
body::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
body::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  /*border-radius: 50px;*/
}
body::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
body::-webkit-scrollbar-thumb:active {
  background: #000000;
}
body::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  /*border-radius: 50px;*/
}
body::-webkit-scrollbar-track:hover {
  background: #666666;
}
body::-webkit-scrollbar-track:active {
  background: #ffffff;
}
body::-webkit-scrollbar-corner {
  background: transparent;
}
