*body {
  background: var(--page-bg-color);
}
#documentView {
  background: var(--page-bg-color);
  font-family: var(--primary-font);
}
#pageContainer {
  background: var(--page-bg-color);
  margin-top: calc(2 * var(--header-padding));
}
.page {
  border: 1px solid #eaecef;
}
